<div class="card-item col">  
    <a href="{{ include.url | relative_url }}">  
      <div class="card hoverable">
        <div class="row g-0">        
          <div class="card-img col-sm-4">
            {% include figure.html path=include.img alt=include.name %}
          </div>
          <div class="col-sm-6">        
            <div class="card-body">
              <h5 class="card-title text-right">{{ include.name }}</h5>
              <p class="card-text text-right">{{ include.affiliation }}</p>                                                  
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

<!-- <div class="row row-cols-2 projects pt-3 pb-3">
  {% include people_horizontal.html name="Elena Simperl" affiliation="King's College London" url="https://github.com/" img="assets/img/organizers/profile.png" %}
  {% include people_horizontal.html name="Paul Groth" affiliation="University of Amsterdam" url="https://github.com/" img="assets/img/organizers/profile.png" %}
  {% include people_horizontal.html name="Oscar Corcho" affiliation="Universidad Politecnicade Madrid" url="" img="assets/img/organizers/profile.png" %}
  {% include people_horizontal.html name="Valentina Pressutti" affiliation="University of Bologna" url="https://github.com/" img="assets/img/organizers/profile.png" %}
  {% include people_horizontal.html name="Marta Sabou" affiliation="Vienna University of Economics and Business" url="https://github.com/" img="assets/img/organizers/profile.png" %}
  {% include people_horizontal.html name="Albert Meroño Peñuela" affiliation="King's College London" url="https://github.com/" img="assets/img/organizers/profile.png" %}
</div> -->
